.bg-1{
    background-color: #59b54d;
}
.bg-2{
    background-color: #b517b5;
}
.bg-3{
    background-color: #9670e3;
}
.bg-4{
    background-color: #e0b56e;
}
.bg-5{
    background-color: #db9191;
}
.bg-6{
    background-color: #f0b514;
}
.bg-7{
    background-color: #e37373;
}
.bg-8{
    background-color: #a84dcf;
}
.bg-9{
    background-color: #b1c13e;
}
.bg-10{
    background-color: #a861e3;
}
.bg-11{
    background-color: #d48538;
}
.bg-12{
    background-color: #a861e3;
}
.bg-13{
    background-color: #29abe2;
}
.bg-14{
    background-color: #5037bf;
}
.bg-15{
    background-color: #7da0a2;
}
.bg-16{
    background-color: #7d3f3e;
}
.bg-17{
    background-color: #4059e0;
}
.c-1{
    color: #59b54d;
}
.c-2{
    color: #b517b5;
}
.c-3{
    color: #9670e3;
}
.c-4{
    color: #e0b56e;
}
.c-5{
    color: #db9191;
}
.c-6{
    color: #f0b514;
}
.c-7{
    color: #e37373;
}
.c-8{
    color: #a84dcf;
}
.c-9{
    color: #b1c13e;
}
.c-10{
    color: #a861e3;
}
.c-11{
    color: #d48538;
}
.c-12{
    color: #a861e3;
}
.c-13{
    color: #29abe2;
}
.c-14{
    color: #5037bf;
}
.c-15{
    color: #7da0a2;
}
.c-16{
    color: #7d3f3e;
}
.c-17{
    color: #4059e0;
}

/* ---------------- ACORDION PERSONALIZADO COLORES ------------------ */

button.acordion {
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 0 30px 0 0;
    text-align: left;
    outline: none;
    display: flex;
    font-size: 22px;
    transition: 1s;
    font-weight: 700;
    padding: 10px 0;
    position: relative;
    margin-bottom: 20px;
}
button.acordion:hover {
   filter: opacity(80%);
}

button.acordion:after {
    font-family: FontAwesome;
    content: '\f055';
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    right: 5px;
    margin: 0 5px 15px 0;
    padding: 0px 14px;
}

button.acordion.active:after {
    font-family: FontAwesome;
    content: "\f056";
    font-weight: bold;
    transition: all .5s  ease;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 18px;
    width: 100%;
}

div.panel p {
    color: #26336d;
}

.icon-align{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    text-align: center;
}

.icon-img{
    width: 90px;
}
.btn-ver{
    color: #FFFFFF;
    padding: 5px 15px;
    border-radius: 15px;
}
.btn-ver:hover{
    color: #FFFFFF;
}
.tit{
    display: grid;
    grid-template-columns: 80px auto;
    grid-column-gap: 20px; 
}
.tit h3{
    font-weight: bold;
}
@media (max-width: 992px) {

    button.acordion {
        font-size: 22px;
    }
}
@media (max-width: 780px){

button.acordion:after {
    font-size: 14px;
}
.btn-ver{
    font-size: 12px;
}
div.panel p, li {
    font-size: 0.9rem;
}
.tit{
  grid-template-columns: 60px auto;
  grid-column-gap: 10px;
}
.tit h3{
    font-size: 1rem;
}
}
