/*-------ACORDEONES----------*/
/* ---------------- ACORDION PERSONALIZADO COLORES ------------------ */

button.acordion {
    background-color: #2257a4;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 0 30px 0 0;
    text-align: left;
    outline: none;
    display: flex;
    font-size: 22px;
    transition: 1s;
    font-weight: 700;
    padding: 20px 0;
    position: relative;
    margin-bottom: 20px;
}
button.acordion.active {
    background-color: #0f69b4;
}

button.acordion:after {
    font-family: FontAwesome;
    content: '\f055';
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    right: 5px;
    margin: 0 5px 15px 0;
    padding: 0px 14px;
}

button.acordion.active:after {
    font-family: FontAwesome;
    content: "\f056";
    font-weight: bold;
    transition: all .5s  ease;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
 
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 18px;
    width: 100%;
}

div.panel p {
    font-family: 'Open Sans';
    color: #132256;
}

.icon-align{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    text-align: center;
}

.icon-img{
    width: 90px;
}

@media (max-width: 992px) {

    button.acordion {
        font-size: 22px;
    }
}
@media (max-width: 780px){

button.acordion:after {
    font-size: 14px;
}
}
