@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    color: #26336d;
}
.bg-blue{
background-color: #191b3f;
}
.navbar {
    z-index: 2;
}
.navbar-brand {
    margin-top: -13px;
}
.redes-sociales {
    display: flex;
    justify-content: stretch;
    justify-content: center;
    border-left: 2px solid #FFFFFF;
}
.redes-sociales > div > a{
   
    color: #FFF;
}
.socialmedia{
    display: flex;
    justify-content: flex-end;
}


.redessociales > .fa-instagram, .redessociales.fa-twitter, .redessociales.fa-facebook-f, .redessociales.fa-flickr, .redessociales.fa-youtube {
    padding: 5px 8px;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: white;
}
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-flickr, .fa-youtube {
    padding: 5px 8px;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}
a i.fa-facebook-f:hover{
    color:#3B5998;
    background-color: #ffffff ;
}
a i.fa-twitter:hover{
    color:#00acee;
}
a i.fa-instagram:hover{
    color:#bc2a8d;
}
a i.fa-flickr:hover{
    color:#FF0084;
}
a i.fa-youtube:hover{
    color:#c4302b;
}
.fa-instagram:hover, .fa-twitter:hover, .fa-facebook-f:hover, .fa-flickr:hover,.fa-youtube:hover {
    transition: all 0.3s ease-in-out;
    background-color: #ffffff ;
    border-radius:2px;
    -webkit-border-radius: 2px;  /* Firefox 1-3.6 */
    -moz-border-radius: 2px; 
}

.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}

/*---------HERO-------*/
.hero{
    background-image: url('banner.png');
    background-position: right;
    background-size: cover;
    height:auto;
}
.hero img{
    width: 500px;
}

.btn-descarga{
    background-color: #0f69b4;
    color: #FFFFFF;
    padding: 5px 15px;
    border-radius: 15px;
}
.btn-descarga:hover{
    color: #FFFFFF;
}


/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #191b3f;
    color: #ffffff;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}
.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}
footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}



@media (max-width: 992px) {
    .redes-sociales{
        display: none;
    }
    button.acordion {
        font-size: 22px;
    }
}
@media (max-width: 780px){
.gob-txt{
    font-size: 14px;
}
.btn-descarga{
    font-size: 12px;
}

.separa-logo {
    display: grid;
    grid-template-rows: 45px 46px;
    row-gap: 20px;
}
.intro p{
    font-size: 0.9rem;
}
.intro img{
    width: 250px;
}
.hero img{
    width: 200px;
}
h4{
    font-size: 1rem;
}
h2{
    font-size: 1.4rem;
}
button.acordion:after {
    font-size: 14px;
}
}